<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tez</string>
		<string>phonepe</string>
		<string>paytmmp</string>
		<string>bhim</string>
		<string>amazonpay</string>
		<string>upi</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>We need camera access to scan QR codes for order verification.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>13.126.198.86</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<false/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>Urbanist-Medium.ttf</string>
		<string>Urbanist-SemiBold.ttf</string>
		<string>Urbanist-Bold.ttf</string>
		<string>Urbanist-Black.ttf</string>
		<string>Urbanist-Light.ttf</string>
		<string>Urbanist-Thin.ttf</string>
		<string>Urbanist-Regular.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string></string>
	</dict>
</dict>
</plist>
